
<div class="row tiny-font">

  <!-- Small img -->
  <div class="hidden-xs col-sm-1">
    <%= image_tag "/images/120x120/#{product.image_url}", {
      class: "checkout-product-img"
    }%>
  </div>

  <div class="col-xs-6 col-sm-5"><%= product.name %></div>
  <div class="col-xs-2"><%= product.unit_price %></div>
  <div class="col-xs-2"><%= product_qty %></div>
  <div class="col-xs-2"><%= subtotal %></div>
</div>