
<div class="row">
  <div class="col-xs-11">
    <span class="feint datahead">Name: </span>
    <span class="datarow">
      <%= user.first_name %>
      <%= user.last_name %>
    </span>
  </div>
</div>

<div class="row">
  <div class="col-xs-12">
    <span class="feint datahead">Email: </span>
    <span class="datarow"><%= user.email %></span>
  </div>
</div>

<div class="row">
  <div class="col-xs-12">
    <span class="feint datahead">Home Ph: </span>
    <span class="datarow"><%= user.home_phone %></span>
  </div>
</div>

<div class="row">
  <div class="col-xs-12">
    <span class="feint datahead">Work Ph: </span>
    <span class="datarow"><%= user.work_phone %></span>
  </div>
</div>

<div class="row">
  <div class="col-xs-12">
    <span class="feint datahead">Mobile Ph: </span>
    <span class="datarow"><%= user.mobile_phone %></span>
  </div>
</div>