<div class="row">
  <div class="col-xs-12">

    <div class="centeredProducts">
        
      <div class="row">
        <div class="col-xs-12">
          <div class="text-center">
            <h3 class="cart-heading">
              My Cart - <%= @total_lines %> Lines
            </h3>
          </div>
        </div>
      </div>

      <div class="row cart-header-row">
        <!-- <hr class="narrow-hr" style="border-color:red;"/> -->

        <div class="col-xs-6">
          <div class="row">
            <%= link_to "Back To Store", store_index_path, class: "btn btn-default cart-header-btn" %>
          </div>
        </div>

        <div class="col-xs-6">
          <div class="row">
            <div class="pull-right">
              <%= link_to "Clear My Cart", clear_cart_path, class: "btn btn-default cart-header-btn", :method => 'delete' %>
            </div>
          </div>
        </div>
        <!-- <hr class="narrow-hr hidden-xs" style="border-color:blue;"/> -->

      </div>

      <%
      # Remote: This will make the form submit via ajax (Through unobtrusive javaScript)
      # A remote form automatically gets its authenticity token from the page's meta tag.
      %>
      <%= form_tag '/cart/submit', remote: true %>
        <% @products.each do |product| %>
          <%=
          render "partials/forsale_product_line", {
            product: product[:record],
            product_qty: product[:cart_qty],
            subtotal: product[:subtotal],
            inCartIcons: false
          }
          %>
        <% end %>


        <div class="row">
          <div class="text-center">
            <h4>
              <strong>Grand Total:</strong> $<%= @grand_total %>
            </h4>
          </div>
        </div>

        <div class="row">
          <div class="col-xs-12">
            <div class="text-center">
              <h3>
                <%=
                submit_tag "Place Order", {class: "btn btn-default cart-submit-btn"}
                %>
              </h3>
            </div>
          </div>
        </div>
        
      </form>

    </div>
  </div>
</div>