<%
# Remote: This will make the form submit via ajax (Through unobtrusive javaScript)
# A remote form automatically gets its authenticity token from the page's meta tag.
%>
<%#= form_tag '/cart/submit', remote: true, id: "cartForm" %>


<div class="row">
  <div class="col-xs-12">
    <div class="centeredProducts">

      <div class="alert alert-warning" id="serverError" style="display:none;">
        There was a server error.
      </div>

      <%= render "/partials/flash_message" %>

      <div class="row">
        <div class="col-sm-12 hidden-xs">
          <div class="text-center">
            <h3 class="content-heading">
              <%= image_tag "/images/cartLogo.png"%> <span>My Cart: <%= @total_lines %> Lines</span>
            </h3>
          </div>
        </div>
        <div class="col-xs-12 visible-xs">
          <div class="row">
            <div class="col-xs-5" style='margin-top:15px'>
              <%= image_tag "/images/cartLogo.png"%>
            </div>
            <div class="col-xs-7">
              <h3 class="content-heading">
               My Cart: <%= @total_lines %> Lines
              </h3>
            </div>
          </div>
        </div>
      </div>

      <% if @cart_is_empty %>
        <%= render "partials/pageGoBack", {goback_message: "Your cart is empty!", goback_btn_text:"Go back to Store", goback_btn_path: store_index_path} %>
      <% else %>
        
        <div class="row content-header-row">
          <div class="col-xs-6">
            <div class="row">
              <%= link_to "Back To Store", store_index_path, class: "btn btn-default content-header-btn" %>
            </div>
          </div>
          <div class="col-xs-6">
            <div class="row">
              <div class="pull-right">
                <%=
                if @total_lines > 0
                  link_to "Clear My Cart", clear_cart_path, class: "btn btn-default content-header-btn", id: "clearMyCartBtn", :method => 'delete' 
                else
                  link_to "Clear My Cart", clear_cart_path, class: "btn btn-default content-header-btn disabled", id: "clearMyCartBtn", :method => 'delete'  
                end
                %>
              </div>
            </div>
          </div>
        </div>

        <% @products.each do |product| %>
          <%=
          render "partials/forsale_product_line", {
            product: product[:record],
            product_qty: product[:cart_qty],
            subtotal: product[:subtotal],
            atStore: false
          }
          %>
        <% end %>

        <%=
        render "cart/partials/summaryRow", {
          total_items: @total_items,
          grand_total: @grand_total
        }
        %>

        <% if @total_lines > 0 %>
          <div class="row">
            <div class="col-xs-12">
              <div class="text-center">
                <h3>
                  <%= link_to checkout_path, class: "btn btn-default cart-submit-btn" do %>
                    <div class="">Proceed to checkout</div>
                  <% end %>
                </h3>
              </div>
            </div>
          </div>
        <% end %>
          
      <% end %>

    </div>
  </div>
</div>


<!-- </form> -->