<div class="row">
  <div class="col-xs-12">

    <div class="centeredProducts">
        
      <div class="row">
        <div class="col-xs-12">
          <div class="text-center">
            <h3 class="cart-heading">
              My Cart
            </h3>
          </div>
        </div>
      </div>
      <hr class="narrow-hr"/>
      <div class="row">
        <div class="col-xs-6">
          <div class="row">
            <%= link_to "Back To Store", store_index_path, class: "btn btn-default cart-control-btn" %>
          </div>
        </div>
        <div class="col-xs-6">
          <div class="row">
            <div class="pull-right">
              <%= link_to "Clear My Cart", clear_cart_path, class: "btn btn-default cart-control-btn", :method => 'delete' %>
            </div>
          </div>
        </div>
      </div>

      <%
      # Remote: This will make the form submit via ajax (Through unobtrusive javaScript)
      # A remote form automatically gets its authenticity token from the page's meta tag.
      %>
      <%= form_tag '/cart/submit', remote: true %>
        <% @products.each do |product| %>
          <%=
          render "partials/forsale_product_line", {
            product: product[:record],
            product_qty: product[:cart_qty],
            subtotal: product[:subtotal]
          }
          %>
        <% end %>

        <div class="row">
          <div class="col-xs-12">
            <div class="text-center">
              <h3>
                <%=
                submit_tag "Place Order", {class: "btn btn-default cart-submit-btn"}
                %>
              </h3>
            </div>
          </div>
        </div>
        
      </form>

    </div>
  </div>
</div>