
<div class="row">
  <div class="col-xs-12">

    <div class="row">
      <div class="col-sm-12">

        <div class="text-center">
          <h3 class="content-heading">
            <%= image_tag "/images/cartLogo.png"%> <span>Checkout</span>
          </h3>
        </div>

      </div>
    </div>


    <% if @cart_is_empty %>

      <%= render "partials/pageGoBack", {goback_message: "Your cart is empty!", goback_btn_text:"Go back to Store", goback_btn_path: store_index_path} %>

    <% else %>

      <h4>In Your Cart...</h4>

      <%= render "checkout/partials/cartSummary" %>

      <% if current_user.present? %>
        <% if @addresses.where(deleted: false).count > 0 %>

          <div class="row">
            <div class="col-xs-12 well">
              <h3>Shipping / Billing details:</h3>
              <%= render 'cart/partials/addressHeader' %>
              <% @addresses.each do |a| %>
                <% if a.deleted == false %>
                  <%= render 'cart/partials/addressRow', { address: a, user: current_user } %>
                <% end %>
              <% end %>

            </div>
          </div>
          
        <% end %>
      <% end %>

      <div class='text-center'>
        <%= submit_tag "Place Order", {class: "btn btn-default go-next-btn"} %>
      </div>

    <% end %>

  </div>
</div>