<%= if Rails.env.development?
  javascript_include_tag "forgot-password"
end %>

<div class="row">
  <div class="col-xs-12">

    <div class="row">
      <%= render "/partials/flash_message" %>
      <div class="col-xs-12">
        <h3>
          Request Password Reset Token
        </h3>
      </div>
    </div>

    <div class="row well solidBackground">

      <p>
        This will send a single-use token to your email address. The token will be a randomly generated sequence of digits.
      </p>

      <p>
        Your account will not be affected. You can ignore the email and everything will be fine.
      </p>

      <p>
        Or you can use the token, and provide a new password.
      </p>
      
      <small>
        <p>
          To use the token, click the link in the email provided. This will cause the following to happen:
          <ul>
            <li>
              Your account will be logged out.
            </li>
            <li>
              Your account will be deactivated. Nobody will be able to log in as you.
            </li>
            <li>
              You will see a page like this one, asking for you to provide a new password.
            </li>
          </ul>
        </p>

        <p>
          The reset token is only valid for ten minutes.
        </p>
        
        <p>
           <b>If you don't click the token</b> - it will expire and nothing will happen to your account. You can log in as usual.
        </p>

        <p>
          <b>If you click the token but don't provide a new password (within ten minutes)</b> - then the token expires and your account stays deactivated. You need to request a new token.
        </p>

        <p>
          <b>If you click the token and provide a new password</b> - you will have successfully reset your password.
        </p>
      </small>

      <%= form_tag create_password_reset_path %>

        <div class="form-group">
          <%=
          text_field_tag(
            'email',              # name
            "Your Email Address", # value
            {
              type:  "text",
              class: "form-control",
              id: 'password-reset-email'
            }
          )
          %>
        </div>

        <div class="form-group">
          <%=
          submit_tag(
            "Submit",
            id: 'submit_request_reset_pw',
            class: "btn btn-primary pull-right"
          )
          %>
        </div>

      </form>
    </div>

  </div>
</div>