
<div class="row well transparentBackground product-<%=product.id%>">

  <!-- Product name and description, Always visible. -->
  <div class="col-xs-12 col-sm-4">
    <div class="row">
      <label>
        <%= product.name %>
      </label>
    </div>

    <div class="row">
      <small>
        <%= product.description %>
      </small>
    </div>

    <div class="row">
      <small class="greyText">
        <%= product.quantityInStock %> in stock
      </small>
    </div>

    <div class="row">
      $ <%= product.unitPrice %> <small class="greyText"> each </small>
    </div>
  </div>

  <!-- Image tag, always visible -->
  <div class="col-xs-12 col-sm-3">
    <% img_url = "images/120x120/#{product.imageUrl}" %>
    <img src="<%= img_url %>" alt="<%= img_url %>" class="img-rounded centered-block-img with-vert-margins">
  </div>

  <div class="col-xs-12 col-sm-5">
    <div class="row">
      <div class="col-xs-6">
        <label for="qtyToOrder-productId-<%=product.id%>">
          Qty to Order
        </label>
      </div>
      <% if !subtotal.nil? %>
      <div class="col-xs-6">
        <label>
          Sub Total:
        </label>
      </div>
      <% end %>
    </div>

    <div class="row">

      <!-- Input: Qty to order -->
      <div class="col-xs-6">
        <div class="row">
          <%=
          text_field_tag(
            'qtyToOrder-input', # name
            product_qty,        # value
            {
              :type => "text",
              :class => "form-control qtyToOrder-input",
              :id => "qtyToOrder-productId-#{product.id}"
            }
          )
          %>
        </div>
        <%# MAX-STOCK MESSAGE appears here, thru javascript. %>
        <div class="col-xs-12 maxStockMsg">
          <div class="row">
            <small>
            </small>
          </div>
        </div>
      </div>

      <!-- Sub Total -->
      <% if !subtotal.nil? %>
      <div class="col-xs-6">
        <div class="row">
          <%=
          text_field_tag(
            'subtot-input',  # name
            "$ #{subtotal}", # value
            {
              :type => "text",
              :disabled => "disabled",
              :class => "form-control subtot-input",
              :id => "subtot-productId-#{product.id}"
            }
          )
          %>
        </div>
      </div>
      <% end %>

      <%# IN-CART ICON - Store only.%>
      <% if inCartIcons %>
      <%
      icon_style = "display: block;"
      if (product_qty.nil? || product_qty.to_i == 0)
        icon_style = "display: none;"
      end
      %>
      <%= tag "div", class: "col-xs-6 inCartIcon", style: icon_style %>
        <div class="row">
          <img src="images/inCart60x60.png" alt="(Added to cart)" class="img-rounded centered-block-img">
        </div>
      </div>
      <% end %>

    </div>
  </div>
</div>