
<div class="row well transparentBackground product-<%=product.id%>">

  <!-- Product name and description, Always visible. -->
  <div class="col-xs-9 col-sm-4 dbug-always-visible">
    <div class="row">
      <label>
        <%= product.name %>
      </label>
    </div>

    <div class="row">
      <small>
        <%= product.description %>
      </small>
    </div>

    <div class="row">
      <small class="greyText">
        <%= product.quantity_in_stock %> in stock
      </small>
    </div>

    <div class="row">
      $ <%= product.unit_price %> <small class="greyText"> each </small>
    </div>
  </div>

  <!-- X button, visible xs -->
  <div class="col-xs-1 visible-xs pull-right">
    <div class="row pull-right">
      <%= render "partials/x_btn_remove_from_cart", { atStore: atStore, product: product } %>
    </div>
  </div>

  <!-- Image tag, always visible -->
  <div class="col-xs-12 col-sm-3 dbug-always-visible">
    <%= image_tag "/images/120x120/#{product.image_url}", {
      class: "img-rounded img-responsive centered-block-img with-vert-margins"
    }%>
  </div>

  <!-- X button, hidden xs -->
  <div class="col-sm-5 hidden-xs pull-right">
    <div class="row pull-right">
      <%= render "partials/x_btn_remove_from_cart", { atStore: atStore, product: product } %>
    </div>
  </div>

  <%=
  render "partials/input_qty_to_order_and_subtot", {
    product: product,
    product_qty: product_qty,
    subtotal: subtotal,
    atStore: atStore
  }
  %>
</div>