<div class="row">
  <div class="col-xs-12">
    <div class="row">
      <nav class="navbar navbar-default" role="navigation">

          <%= render "partials/site_title" %>

          <div class="col-xs-6 col-sm-9 mg-navbar-parent">

            <div class="row">

              <%= link_to "/store", class: "mg-resizable-11-14" do %>
                <div class="mg-navbar-item">
                  Store
                </div>
              <% end %>

              <%= link_to "/cart", class: "mg-resizable-11-14" do %>
                <div class="mg-navbar-item">
                  My Cart
                </div>
              <% end %>

              <% if current_user %>

                <%= link_to "/users/#{current_user.id}/orders", class: "mg-resizable-11-14" do %>
                  <div class="mg-navbar-item">
                    My Orders
                  </div>
                <% end %>

                <%= link_to "/users/#{current_user.id}/edit", class: "mg-resizable-11-14" do %>
                  <div class="mg-navbar-item">
                    My Account
                  </div>
                <% end %>

                <%= link_to "/change-password", class: "mg-resizable-11-14" do %>
                  <div class="mg-navbar-item">
                    Change Password
                  </div>
                <% end %>

                <%= link_to "/logout", method: :delete, class: "mg-resizable-11-14" do %>
                  <div class="mg-navbar-item">
                    Log Out
                  </div>
                <% end %>

              <% else %>

                <%= link_to "/register", class: "mg-resizable-11-14" do %>
                  <div class="mg-navbar-item">
                    Register
                  </div>
                <% end %>

                <%= link_to "/forgot-password", class: "mg-resizable-11-14" do %>
                  <div class="mg-navbar-item">
                    Forgot my password
                  </div>
                <% end %>

                <%= link_to "/login", class: "mg-resizable-11-14" do %>
                  <div class="mg-navbar-item">
                    Login
                  </div>
                <% end %>

              <% end %>
            </div>
          </div>

        <!-- </div> -->
      </nav>
    </div>
  </div>
</div>