<a href="#formTop"></a>
<div class="row">
  <div class="col-xs-12">
    
    <%= render "/partials/flash_message" %>









    <%= form_for @customer, url: {action: "update_customer"} do |f| %>

      <%= hidden_field_tag :current_tab, action_name %>

      <div class="panel panel-default">

        <div class="panel-body">

          <h4><%= link_to "Manage Customers", manage_customers_path %> / <%= @customer.first_name %> <%= @customer.last_name %> <span class="very-feint"><%= @customer.email %></span></h4>

          <div class="row">

            <%= render "users/partials/customer_edit_navtabs", { customer: @customer} %>

            <!-- Tab panes -->
            <div class="tab-content">

              <!-- My Addresses -->
              <div class="tab-pane active" id="myAddresses">
                <div class="col-xs-12">

                  <div class="well" style="margin-top: 20px;">
                    This customer currently has <%= @customer.addresses.where(deleted: false).count %> addresses.

                    <%= link_to customer_create_address_path(@customer), method: :post do %>
                      <button id="createAddress" type="button" class="btn btn-default">Add Another Address</button>
                    <% end %>
                  </div>

                  <div class="row">
                    <% @customer.addresses.order(:id).each do |address| %>
                      <%= f.fields_for :addresses, address do |address_form| %>
                        <% if address.deleted == false %>
                          <%= render "users/partials/customer_address", {
                            f: address_form,
                            address: address,
                            customerForm: f,
                            customer: @customer
                          } %>
                        <% end %>
                      <% end %>
                    <% end %>
                  </div>

                </div>
              </div>

            </div>
          </div>
        </div>
      </div>

      <div style="height: 66px;">
        <div class="panel-body">
          <div class="panel" style="border: none;">
            <button id="submitButton" type="submit" class="btn btn-primary pull-right">Update Details</button>
          </div>
        </div>
      </div>

    <% end %>
  </div>
</div>
