<%= javascript_include_tag "precompile/user_edit" %>

<a href="#formTop"></a>
<div class="row">
  <div class="col-xs-12">
    
    <%= render "/partials/flash_message" %>

    <% if flash[:just_signed_up] %>
    <div class="alert alert-success">
      <h3>
        Welcome, <%= @user.email %>
      </h3>
    </div>
    <% end %>

    <%= form_for @user do |f| %>

      <div class="panel panel-default">

        <div class="panel-body">
          <div class="row">

            <!-- Tab header -->
            <ul class="nav nav-tabs" role="tablist" id="accountDetailTabs">
              <li class="active">
                <a href="#accountDetails" role="tab" data-toggle="tab">Account Details</a>
              </li>
              <li>
                <a href="#myAddresses" role="tab" data-toggle="tab">Shipping / Billing Addresses</a>
              </li>
            </ul>

            <!-- Tab panes -->
            <div class="tab-content">
              <%= hidden_field_tag :current_tab %>

              <!-- Account Details -->
              <div class="tab-pane active" id="accountDetails">
                <div class="col-xs-12">

                  <div id="form-group-account" class="form-group well">

                    <div id="form-group-email" class="form-group">
                      <label for="input_email">Email address</label>
                      <span class='error-message'></span>
                      <%= f.text_field :email, type: 'email', id: 'input_email', :class => 'form-control'%>
                    </div>

                    <div id="form-group-first-name" class="form-group">
                      <label for="input_first_name">First Name</label>
                      <span class='error-message'></span>
                      <%= f.text_field :first_name, type: 'text', id: 'input_first_name', :class => 'form-control'%>
                    </div>

                    <div id="form-group-last-name" class="form-group">
                      <label for="input_last_name">Last Name</label>
                      <span class='error-message'></span>
                      <%= f.text_field :last_name,  type: 'text', id: 'input_last_name',  :class => 'form-control'%>
                    </div>

                    <div id="form-group-home-phone" class="form-group">
                      <label for="input_home_phone">Home Phone</label>
                      <span class='error-message'></span>
                      <%= f.text_field :home_phone, type: 'text', id: 'input_home_phone', :class => 'form-control'%>
                    </div>

                    <div id="form-group-work-phone" class="form-group">
                      <label for="input_work_phone">Work Phone</label>
                      <span class='error-message'></span>
                      <%= f.text_field :work_phone, type: 'text', id: 'input_work_phone', :class => 'form-control'%>
                    </div>

                    <div id="form-group-mobile-phone" class="form-group">
                      <label for="input_mobile_phone">Mobile Phone</label>
                      <span class='error-message'></span>
                      <%= f.text_field :mobile_phone, type: 'text', id: 'input_mobile_phone', :class => 'form-control'%>
                    </div>
                  </div>

                </div>
              </div>

              <!-- My Addresses -->
              <div class="tab-pane" id="myAddresses">
                <div class="col-xs-12">

                  <hr />

                  <div class="well">
                    You currently have <%= @user.addresses.count %> addresses.

                    <%= link_to user_create_address_path(@user), method: :post, class: "mg-resizable-11-14" do %>
                      <button id="createAddress" type="button" class="btn btn-default">Add Another Address</button>
                    <% end %>
                  </div>

                  <div class="row">
                    <% @user.addresses.order(:id).each do |address| %>
                      <%= f.fields_for :addresses, address do |address_form| %>
                        <%= render "users/partials/user_address", {
                          f: address_form,
                          address: address,
                          userForm: f,
                          user: @user
                        } %>
                      <% end %>
                    <% end %>
                  </div>

                </div>
              </div>

            </div>

          </div>

          <button id="submitButton" type="submit" class="btn btn-primary pull-right">Update Details</button>
        </div>
      </div>

    <% end %>
  </div>
</div>
