<!-- Tab header -->
<div class="col-xs-12" style="height:30px;"><b>Editing Customer:</b> <span class="feint"><%= customer.first_name %>&nbsp<%= customer.last_name %></span>
</div>

<ul class="nav nav-tabs" role="tablist" id="accountDetailTabs">
  <%= navtab_li 'customers/edit' %>
    <%= link_to edit_customer_path(customer) do %> Details <% end %>
  </li>
  <%= navtab_li 'customer_addresses/edit' %>
    <%= link_to customer_addresses_path(customer) do %> Shipping / Billing Addresses <% end %>
  </li>
</ul>