<div class="row">
  <div class="col-xs-12">

    <%= render "/partials/flash_message" %>

    <%# My Orders %>
    <div class="row">
      <div class="col-xs-12">
        <h3 class="content-heading">
          My Orders
        </h3>
      </div>
    </div>

    <% if @orders.count == 0 %>
      None at the moment.
    <% else %>

      <% @orders.each do |order| %>
        <%= link_to("/users/#{current_user.id}/orders/#{order.id}", html_options = {class: "noUnderline"}) do %>

          <div class="well solidBackground mg-hover">
            <%= render "orders/partials/order_head", { order: order, shipping_address: @ship_addresses[order.id], billing_address: @bill_addresses[order.id] } %>
            <%= render "orders/partials/order_line", { order: order } %>
            <%= render "orders/partials/order_summary", { order: order } %>
          </div>

        <% end %>
      <% end %>
    <% end %>

  </div>
</div>
<br />
<br />