<% flash.each do |key, value| %>
  <div class="<%= flash_class(key) %>">
    <%= value %>
  </div>
<% end %>

<h3>
  Order Number: <%= @order.id %>
</h3>

<div class="well transparentBackground">
  <% @order.ordered_products.each do |ordered_product| %>
  <div>
    <p>
      <strong><%= ordered_product.product.name %></strong>
      Qty: <%= ordered_product.qty || 0 %>
    </p>
  </div>
  <% end %>
</div>
