<div class="row">
  <div class="col-xs-12">

    <%= render "/partials/flash_message" %>

    <div class="row content-header-row">
      <div class="col-xs-12">
        <p>
          <%= link_to "Show all Orders", user_orders_path, class: "" %>
        </p>
      </div>
    </div>

    <%= render "orders/partials/order_head", { order: @order } %>

    <div class="well transparentBackground">
      <% @order.ordered_products.each do |ordered_product| %>
      <div>
        <p>
          <strong><%= ordered_product.product.name %></strong>
          Qty: <%= ordered_product.qty || 0 %>
        </p>
      </div>
      <% end %>
    </div>


  </div>
</div>
