<%
@total_items = 0
@grand_total = 0
order.ordered_products.each do |ordered_product|
  @total_items += ordered_product.qty.to_i
  @grand_total += ordered_product.qty.to_i * ordered_product.product.unit_price
end

t = order.order_date
ampm = t.strftime("%p").downcase
%>

<div class="row tiny-font">
  <div class="col-xs-12">

    <p>
      <strong>Order #</strong><%= order.id %>
      &nbsp
      <strong>Created:</strong>
      <%= t.strftime("#{t.day.ordinalize} %b %Y %l:%M#{ampm} UTC") || "none" %>
    </p>

    <small>
      <p>
        <strong>Shipping Address:</strong>
        <%= shipping_address.nil? ? "None" : shipping_address.oneLine %>
      </p>

      <p>
        <strong>Billing Address:</strong>
        <%= billing_address.nil? ? "None" : billing_address.oneLine %>
      </p>

      <p>
        <strong>Product Lines:</strong> <%= order.ordered_products.count || 0 %>
        &nbsp
        <strong>Total Items:</strong> <%= @total_items || 0 %>
        &nbsp
        <strong>Invoice Total:</strong> $<%= sprintf '%.2f', @grand_total || 0 %>
      </p>
    </small>

    <p>
      <strong>Status:</strong>
      <small><%= order.order_status || "Not Shipped Yet" %></small>
    </p>

  </div>
</div>