<div class="row">
  <div class="col-xs-12">
    <p class="content-heading mg-resizable-11-14">
      <strong>Order #</strong><%= order.id %>
    </p>
  </div>

  <div class="col-xs-12">
    <p class="mg-resizable-11-14">
      <% t = order.order_date %>
      <% ampm = t.strftime("%p").downcase %>
      <strong>Date:</strong> <%= t.strftime("#{t.day.ordinalize} %B %Y %l:%M#{ampm} UTC") || "none" %>
    </p>
  </div>

  <div class="col-xs-12">
    <p class="content-heading mg-resizable-11-14">
      <strong>Status:</strong>
      <small>
        <%= order.order_status || "Not Shipped Yet" %>
      </small>
    </p>
    <p class="content-heading mg-resizable-11-14">
      <% if shipping_address.nil? %>
        <small>Shipping Address: None</small>
      <% else %>
        <strong>Shipping Address:</strong>
        <small><%= shipping_address.oneLine %></small>
      <% end %>
    </p>
    <p class="content-heading mg-resizable-11-14">
      <% if billing_address.nil? %>
        <small>Billing Address: None</small>
      <% else %>
        <strong>Billing Address:</strong>
        <small><%= billing_address.oneLine %></small>
      <% end %>
    </p>
  </div>
</div>