<div class="row tiny-font">
  <div class="col-xs-12">

    <p>
      <strong>Order #</strong><%= order.id %>
      &nbsp
      <% t = order.order_date %>
      <% ampm = t.strftime("%p").downcase %>
      <strong>Created:</strong>
      <%= t.strftime("#{t.day.ordinalize} %b %Y %l:%M#{ampm} UTC") || "none" %>
    </p>

    <p>
      <small>
        <strong>Shipping Address:</strong>
        <%= shipping_address.nil? ? "None" : shipping_address.oneLine %>
      </small>
    </p>

    <p>
    <small>
      <strong>Billing Address:</strong>
      <%= billing_address.nil? ? "None" : billing_address.oneLine %>
    </small>
    </p>

    <!-- <p>
      <small>
        <%= order.ordered_products.count || 0 %>
        Product Lines
      </small>
    </p> -->

    <p>
      <strong>Status:</strong>
      <small><%= order.order_status || "Not Shipped Yet" %></small>
    </p>

  </div>
</div>