<div class="row tiny-font">
  <div class="col-xs-12">

    <p>
      <strong>Order #</strong><%= order.id %>
      &nbsp
      <% t = order.order_date %>
      <% ampm = t.strftime("%p").downcase %>
      <strong>Date:</strong> <%= t.strftime("#{t.day.ordinalize} %b %Y %l:%M#{ampm} UTC") || "none" %>
    </p>

    <p>
      <% if shipping_address.nil? %>
        <small>Shipping Address: None</small>
      <% else %>
        <strong>Shipping Address:</strong>
        <small><%= shipping_address.oneLine %></small>
      <% end %>
    </p>

    <p>
      <% if billing_address.nil? %>
        <small>Billing Address: None</small>
      <% else %>
        <strong>Billing Address:</strong>
        <small><%= billing_address.oneLine %></small>
      <% end %>
    </p>

    <p>
      <strong>Status:</strong>
      <small>
        <%= order.order_status || "Not Shipped Yet" %>
      </small>
    </p>

  </div>
</div>