<div class="col-xs-12">
  <div class="well manage-customers-page tiny-font">

    <div class="row">
      <div class="col-xs-8 showme">
        <span class="feint">Name: </span>
        <%= customer.first_name %>
        <%= customer.last_name %>
      </div>

      <div class="col-xs-4 showme">
        <%= link_to user_path(customer), method: :delete, class: 'customer-delete pull-right', style:"text-decoration:none;" do %>
          <span class="glyphicon glyphicon-remove"></span>
        <% end %>
      </div>
    </div>

    <div class="row">
      <div class="col-xs-5">
        <span class="feint">Email: </span>
      </div>
      <div class="col-xs-7">
        <%= customer.email %>
      </div>
    </div>

    <div class="row">
      <div class="col-xs-5">
        <span class="feint">Home Ph: </span>
      </div>
      <div class="col-xs-7">
        <%= customer.home_phone %>
      </div>
    </div>

    <div class="row">
      <div class="col-xs-5">
        <span class="feint">Work Ph: </span>
      </div>
      <div class="col-xs-7">
        <%= customer.work_phone %>
      </div>
    </div>

    <div class="row">
      <div class="col-xs-5">
        <span class="feint">Mobile Ph: </span>
      </div>
      <div class="col-xs-7">
        <%= customer.mobile_phone %>
      </div>
    </div>

    <div class="row">
      <div class="col-xs-12">
        <%= link_to edit_customer_path(customer), class: 'pull-right' do %>
          <button id=<%="editCustomer#{customer.id}"%> type="button" class="btn btn-default">Edit Customer</button>
        <% end %>
      </div>
    </div>
    
  </div>
</div>