<div class="col-xs-12">
  <div class="well manage-customers-page tiny-font">

    <div class="row">
      <div class="col-xs-12">
        <div>
          <%= link_to user_path(customer), method: :delete, class: 'customer-delete pull-right', style:"text-decoration:none;" do %>
            <span class="glyphicon glyphicon-remove"></span>
          <% end %>
        </div>
        <div>
          <span class="feint">Name: </span>
          <%= customer.first_name %>
          <%= customer.last_name %>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-xs-12">
        <span class="feint datahead">Email: </span>
        <span class="datarow"><%= customer.email %></span>
      </div>
    </div>

    <div class="row">
      <div class="col-xs-12">
        <span class="feint datahead">Home Ph: </span>
        <span class="datarow"><%= customer.home_phone %></span>
      </div>
    </div>

    <div class="row">
      <div class="col-xs-12">
        <span class="feint datahead">Work Ph: </span>
        <span class="datarow"><%= customer.work_phone %></span>
      </div>
    </div>

    <div class="row">
      <div class="col-xs-12">
        <span class="feint datahead">Mobile Ph: </span>
        <span class="datarow"><%= customer.mobile_phone %></span>
      </div>
    </div>

    <div class="row">
      <div class="col-xs-12">
        <%= link_to edit_customer_path(customer), class: 'pull-right' do %>
          <button id=<%="editCustomer#{customer.id}"%> type="button" class="btn btn-default">Edit Customer</button>
        <% end %>
      </div>
    </div>
    
  </div>
</div>