<div class="col-xs-12">
  <div class="well manage-users-page <%=user.usertype%>well tiny-font">

    <div class="row">
      <div class="col-xs-10">
        <%= render "/admin_edit_staff/partials/list_basic", {user:user} %>
        <hr>
        <div class="row">
          <div class="col-xs-12">
            <span class="feint datahead">User Type: </span>
            <span class="datarow"><%= user.usertype %></span>
          </div>
        </div>
      </div>
      <div class="col-xs-2">
        <%= link_to delete_staff_path(user), method: :delete, class: 'user-delete pull-right', style:"text-decoration:none;" do %>
          <span class="glyphicon glyphicon-remove"></span>
        <% end %>
      </div>
    </div>

    <div class="row">
      <div class="col-xs-12">
        <%= link_to edit_staff_path(user), class: 'pull-right' do %>
          <button id=<%="editUser#{user.id}"%> type="button" class="btn btn-default">Edit User</button>
        <% end %>
      </div>
    </div>
    
  </div>
</div>