<div class="row">
  <div class="col-xs-12">

    <div class="row hidden-xs">
      <div class="col-xs-12 col-sm-2"><strong>Unit Price</strong></div>
      <div class="col-xs-12 col-sm-4"><strong>Product</strong></div>
      <div class="col-xs-12 col-sm-4"></div>
      <!-- <div class="col-xs-12 col-sm-2"><strong>Qty to Order</strong></div> -->
    </div>
    <hr>

    <form role="form">
      <% @products.each do |product| %>

        <div class="row">

          <div class="hidden-xs col-sm-2">
            <div>
              $ <%= product.unitPrice %>
            </div>
            <small class="hidden-xs greyText">
              <%= product.quantityInStock %> in stock
            </small>
          </div>

          <div class="col-xs-12 col-sm-4">
            <strong>
              <%= product.name %>
            </strong>
            <br />
            <small>
              <%= product.description %>
            </small>
          </div>

          <div class="col-xs-12 hidden-sm">
            <div>
              $ <%= product.unitPrice %> <small class="greyText"> each </small>
            </div>
            <small class="greyText">
              <%= product.quantityInStock %> in stock
            </small>
          </div>

          <div class="col-xs-12 col-sm-4">
            <% img_url = "images/120x120/#{product.imageUrl}" %>
            <img src="<%= img_url %>" alt="<%= img_url %>" class="img-rounded">
          </div>

          <div class="col-xs-12 col-sm-2">
            <div class="row">
              <div class="form-group pull-left">
                <div class="col-xs-12 labelForQtyInput">
                  <label for="qtyToOrder-productId-<%=product.id%>">Qty to Order</label>
                </div>
                <div class="col-xs-8 col-sm-12">
                  <input type="text" class="form-control" id="qtyToOrder-productId-<%=product.id%>">
                </div>
              </div>
            </div>
          </div>

        </div>
        <hr>
        <br />

      <% end %>
    </form>

  </div>
</div>
