<div class="row">
  <div class="col-xs-12">
    <table class="table">

      <thead>
        <tr>
          <th>Product</th>
          <th>Description</th>
          <th>Unit Price</th>
          <th>Qty in Stock</th>
          <th>Qty to Order</th>
        </tr>
      </thead>

      <tbody>
        <% @products.each do |product| %>
          <tr>
            <td>
              <%= product.name %>
              <br />
              <%= product.description %>
            </td>
            <td>
              <% img_url = asset_path "/120x120/#{product.imageUrl}" %>
              <img src="<%= img_url %>" alt="<%= img_url %>" class="img-rounded">
            </td>
            <td>
              <%= product.unitPrice %>
            </td>
            <td>
              <%= product.quantityInStock %>
            </td>
            <td>
              <span>Field goes here</span>
            </td>
          </tr>
        <% end %>
      </tbody>

    </table>
  </div>
</div>
