<div class="row">
  <div class="col-xs-12">

    <%= @products.each do |product| %>

      <div class="panel panel-default">

        <div class="panel-heading">
          <h3 class="panel-title"><%= product.name %></h3>
        </div>

        <div class="panel-body">
          <div><%= product.description %></div>
          <div><%= product.imageUrl %></div>

          <div><%= product.unitPrice %></div>
          <div><%= product.costFromSupplier %></div>
          <div><%= product.quantityInStock %></div>
        </div>

      </div>

    <% end %>
  </div>
</div>
