<div class="row">
  <div class="col-xs-12">
    <table class="table">

      <thead>
        <tr>
          <th>Unit Price</th>
          <th></th>
          <th>Product</th>
          <th></th>
          <th>Qty to Order</th>
        </tr>
      </thead>

      <tbody>
        <% @products.each do |product| %>
          <tr>
            <td>
              $ <%= product.unitPrice %>
              <br />
              <small class="inStockText">
                <%= product.quantityInStock %> in stock
              </small>
            </td>

            <td>
              <% img_url = "images/120x120/#{product.imageUrl}" %>
              <img src="<%= img_url %>" alt="<%= img_url %>" class="img-rounded">
            </td>

            <td>
              <strong>
                <%= product.name %>
              </strong>
              <br />
              <%= product.description %>
            </td>

            <td>
              
            </td>

            <td>
              <span>Field goes here</span>
            </td>
          </tr>
        <% end %>
      </tbody>

    </table>
  </div>
</div>
