<div class="row">
  <div class="col-xs-12">

    <div class="centeredProducts">

      <div class="row">
        <div class="col-xs-12">
          <div class="text-center">
            <h3>
              Available Products:
            </h3>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-sm-12">
          <div class="input-group product-search-group">
            
            <%=
            text_field_tag(
              'product-search-input',  # name
              "", # value
              {
                :type => "text",
                :class => "form-control product-search"
              }
            )
            %>

            <span class="input-group-btn">
              <%= link_to( store_search_path, html_options = {
                name: "product-search-button",
                class: "btn btn-default product-search",
                type: "button"
              }) do
              %>
                <span class="glyphicon glyphicon-search"></span>
                Search
              <% end %>
            </span>

          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-xs-12">
          <div class="text-center">
            <%= paginate @all_products, :window => 2 %>
          </div>
        </div>
      </div>
      <hr class="narrow-hr"/>

      <form role="form">
        <% @products.each do |product| %>
          <%=
          render "partials/forsale_product_line", {
            product: product[:record],
            product_qty: product[:cart_qty],
            subtotal: nil,
            atStore: true
          }
          %>
        <% end %>
      </form>

      <div class="row">
        <div class="col-xs-12">
          <div class="text-center">
            <%= paginate @all_products, :window => 2 %>
          </div>
        </div>
      </div>
      
      <div class="row">
        <div class="col-xs-12">
          <div class="text-center">
            <%=
            link_to "Go To Cart", cart_index_path, class: "btn btn-default go-to-cart-btn"
            %>
          </div>
        </div>
      </div>
    </div>

  </div>
</div>
