<!DOCTYPE html>
<html>
<head>
  <title>Fuzzybear</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>

  <%#= render "layouts/sizer" %>

  <%= render "layouts/navbar" %>

  <h4>
    <small>
      This is not a real site.
    </small>
  </h4>

  <%= yield %>
  <%= render "layouts/loginModal" %>
  <%= render "layouts/registerModal" %>
  <%= render "layouts/forgotPwModal" %>
</body>
</html>
