<!DOCTYPE html>
<html>

  <head>
    <title>Mike Gell Demo</title>
    <%= stylesheet_link_tag    "application", media: "all" %>
    <%= javascript_include_tag "application" %>
    <%= csrf_meta_tags %>
  </head>

  <body>
    <%#= render "partials/sizer" %>

    <div class="top-level-container">
      <a href="#pagetop"></a>
      <%= render "partials/navbar" %>
      <%= yield %>
    </div>

  </body>
</html>
